# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
build/
bin/
LuckPerms/
server-26.1.2/
Papyrus/

# Wiki
wiki/

# VS Code
.vscode/
*.code-workspace

# Cache
*.class

# Script
*.py

# Changes Log
Updates.md

# Eclipse
.classpath
.project
.settings/

# Test
test/
test-tmp/